# 4.2 TRANSFORM DATA USING PYTHON
# TRANSFORM & CLEANING

These pakages need to be installed before run the codes:

1. pip install snowflake-connector-python==2.7.8

2. pip install “snowflake-connector-python[pandas]”

3. pip install boto3 --upgrade

4. pip install petl


References:


1. https://docs.snowflake.com/en/user-guide/python-connector-install.html#python-packages

2. https://docs.snowflake.com/en/user-guide/python-connector-pandas.html

3. https://stackoverflow.com/questions/43400797/how-to-upgrade-botocore1-2-6-to-1-4-or-above-present-with-boto3

4. https://pypi.org/project/petl/

In [1]:
#Step 1 : Import all the related libraries that required.

import snowflake.connector
import pandas as pd
import os
from io import StringIO
import boto3
import csv
import petl as etl

In [2]:
#Step 2 :  Setting login parameter to connect with Snowflake

conn = snowflake.connector.connect(
user = 'HAFIZHAKIMI',
password = 'Lolipop@123',
account = 'LG06572.ap-southeast-1',
warehouse = 'COMPUTE_WH',
database = 'Football_Data',
schema = 'Data')
curs = conn.cursor() # Cursor object is use to fetch the values in the results.

By default, the Snowflake Connector for Python will converts the values from Snowflake data types to native Python data types.

#### 4.2.1 Data cleaning for "appearances" table

In [3]:
#Call the execute() method in the Cursor object to load the data in Python by using Snowflake syntax

appearances = curs.execute("select * from Football_Data.Data.appearances;")

In [4]:
#We use Cursor to retrieve the data and then call the fetch_pandas_all() Cursor methods to put the data into a Pandas DataFrame:

appearances_df = appearances.fetch_pandas_all()

#After we load the data from Snowflake into Pandas DataFrame, then we can use python syntax to execute the data.

In [5]:
#Check for existing of null values

appearances_df.isnull().sum()

PLAYER_ID          0
GAME_ID           11
APPEARANCE_ID      0
COMPETITION_ID     0
PLAYER_CLUB_ID     0
GOALS              0
ASSISTS            0
MINUTES_PLAYED     0
YELLOW_CARDS       0
RED_CARDS          0
dtype: int64

In [6]:
appearances_df.shape

(1034190, 10)

There are 1034190 rows and 10 columns before we remove the null values.

In [7]:
#Drop the null value

appearances_df2 = appearances_df.dropna()

In [8]:
#Check the null values again

appearances_df2.isnull().sum()

PLAYER_ID         0
GAME_ID           0
APPEARANCE_ID     0
COMPETITION_ID    0
PLAYER_CLUB_ID    0
GOALS             0
ASSISTS           0
MINUTES_PLAYED    0
YELLOW_CARDS      0
RED_CARDS         0
dtype: int64

No nulls values detected after drop the null value process executed

In [9]:
appearances_df2.shape

(1034179, 10)

There are 1034179 rows and 10 columns after we remove the null values.

Next, we will execute the steps above to the left 6 tables, which are "players", "clubs", "competitions","leagues", "games" and "player_valuations" tables.

#### 4.2.2 Data cleaning for "players" table

In [10]:
#Call the execute() method in the Cursor object to load the data in Python by using Snowflake syntax

players = curs.execute("select * from Football_Data.Data.players;")

In [11]:
#We use Cursor to retrieve the data and then call the fetch_pandas_all() Cursor methods to put the data into a Pandas DataFrame:

players_df = players.fetch_pandas_all()

#After we load the data from Snowflake into Pandas DataFrame, then we can use python syntax to execute the data.

In [12]:
#Check for existing of null values

players_df.isnull().sum()

PLAYER_ID                         0
LAST_SEASON                       0
CURRENT_CLUB_ID                   0
NAME                              0
PRETTY_NAME                       0
COUNTRY_OF_BIRTH               1429
COUNTRY_OF_CITIZENSHIP            1
POSITION                          0
SUB_POSITION                      0
FOOT                           1658
HEIGHT_IN_CM                      0
MARKET_VALUE_IN_GBP            6859
HIGHEST_MARKET_VALUE_IN_GBP     708
dtype: int64

In [13]:
players_df.shape

(23662, 13)

There are 23662 rows and 13 columns before we remove the null values.

In [14]:
#Drop the null value

players_df2 = players_df.dropna()

In [15]:
#Check the null values again

players_df2.isnull().sum()

PLAYER_ID                      0
LAST_SEASON                    0
CURRENT_CLUB_ID                0
NAME                           0
PRETTY_NAME                    0
COUNTRY_OF_BIRTH               0
COUNTRY_OF_CITIZENSHIP         0
POSITION                       0
SUB_POSITION                   0
FOOT                           0
HEIGHT_IN_CM                   0
MARKET_VALUE_IN_GBP            0
HIGHEST_MARKET_VALUE_IN_GBP    0
dtype: int64

In [16]:
players_df2.shape

(15579, 13)

There are 15579 rows and 13 columns after we remove the null values.

#### 4.2.3 Data cleaning for "clubs" table

In [17]:
#Call the execute() method in the Cursor object to load the data in Python by using Snowflake syntax

clubs = curs.execute("select * from Football_Data.Data.clubs;")

In [18]:
#We use Cursor to retrieve the data and then call the fetch_pandas_all() Cursor methods to put the data into a Pandas DataFrame:

clubs_df = clubs.fetch_pandas_all()

#After we load the data from Snowflake into Pandas DataFrame, then we can use python syntax to execute the data.

In [19]:
#Check for existing of null values

clubs_df.isnull().sum()

CLUB_ID                     0
NAME                        0
PRETTY_NAME                 0
DOMESTIC_COMPETITION_ID     0
TOTAL_MARKET_VALUE         35
SQUAD_SIZE                  0
AVERAGE_AGE                29
FOREIGNERS_NUMBER           0
FOREIGNERS_PERCENTAGE      43
NATIONAL_TEAM_PLAYERS       0
STADIUM_NAME                0
STADIUM_SEATS               0
COACH_NAME                  0
dtype: int64

In [20]:
clubs_df.shape

(400, 13)

There are 400 rows and 13 columns before we remove the null values.

In [21]:
#Drop the null value

clubs_df2 = clubs_df.dropna()

In [22]:
#Check the null values again

clubs_df2.isnull().sum()

CLUB_ID                    0
NAME                       0
PRETTY_NAME                0
DOMESTIC_COMPETITION_ID    0
TOTAL_MARKET_VALUE         0
SQUAD_SIZE                 0
AVERAGE_AGE                0
FOREIGNERS_NUMBER          0
FOREIGNERS_PERCENTAGE      0
NATIONAL_TEAM_PLAYERS      0
STADIUM_NAME               0
STADIUM_SEATS              0
COACH_NAME                 0
dtype: int64

In [23]:
clubs_df2.shape

(355, 13)

There are 355 rows and 13 columns after we remove the null values.

#### 4.2.4 Data cleaning for "competitions" table

In [24]:
#Call the execute() method in the Cursor object to load the data in Python by using Snowflake syntax

competitions = curs.execute("select * from Football_Data.Data.competitions;")

In [25]:
#We use Cursor to retrieve the data and then call the fetch_pandas_all() Cursor methods to put the data into a Pandas DataFrame:

competitions_df = competitions.fetch_pandas_all()

#After we load the data from Snowflake into Pandas DataFrame, then we can use python syntax to execute the data.

In [26]:
#Check for existing of null values

competitions_df.isnull().sum()

COMPETITION_ID          0
NAME                    0
TYPE                    0
COUNTRY_ID              0
COUNTRY_NAME            7
DOMESTIC_LEAGUE_CODE    7
CONFEDERATION           0
dtype: int64

In [27]:
competitions_df.shape

(42, 7)

There are 42 rows and 7 columns before we remove the null values.

In [28]:
#Drop the null value

competitions_df2 = competitions_df.dropna()

In [29]:
#Check the null values again

competitions_df2.isnull().sum()

COMPETITION_ID          0
NAME                    0
TYPE                    0
COUNTRY_ID              0
COUNTRY_NAME            0
DOMESTIC_LEAGUE_CODE    0
CONFEDERATION           0
dtype: int64

In [30]:
competitions_df2.shape

(35, 7)

There are 35 rows and 7 columns after we remove the null values.

#### 4.2.5 Data cleaning for "leagues" table

In [31]:
#Call the execute() method in the Cursor object to load the data in Python by using Snowflake syntax

leagues = curs.execute("select * from Football_Data.Data.leagues;")

In [32]:
#We use Cursor to retrieve the data and then call the fetch_pandas_all() Cursor methods to put the data into a Pandas DataFrame:

leagues_df = leagues.fetch_pandas_all()

#After we load the data from Snowflake into Pandas DataFrame, then we can use python syntax to execute the data.

In [33]:
#Check for existing of null values

leagues_df.isnull().sum()

LEAGUE_ID        0
NAME             0
CONFEDERATION    0
dtype: int64

There is no null values in the "leagues" table

In [34]:
leagues_df.shape

(14, 3)

#### 4.2.6 Data cleaning for "games" table

In [35]:
#Call the execute() method in the Cursor object to load the data in Python by using Snowflake syntax

games = curs.execute("select * from Football_Data.Data.games;")

In [36]:
#We use Cursor to retrieve the data and then call the fetch_pandas_all() Cursor methods to put the data into a Pandas DataFrame:

games_df = games.fetch_pandas_all()

#After we load the data from Snowflake into Pandas DataFrame, then we can use python syntax to execute the data.

In [37]:
#Check for existing of null values

games_df.isnull().sum()

GAME_ID                   0
COMPETITION_CODE          0
SEASON                    0
ROUND                     0
HOME_CLUB_ID              0
AWAY_CLUB_ID              0
HOME_CLUB_GOALS           0
AWAY_CLUB_GOALS           0
HOME_CLUB_POSITION    15844
AWAY_CLUB_POSITION    15844
STADIUM                 160
ATTENDANCE             8565
REFEREE                 515
dtype: int64

In [38]:
games_df.shape

(55822, 13)

There are 55822 rows and 13 columns before we remove the null values.

In [39]:
#Drop the null value

games_df2 = games_df.dropna()

In [40]:
#Check the null values again

games_df2.isnull().sum()

GAME_ID               0
COMPETITION_CODE      0
SEASON                0
ROUND                 0
HOME_CLUB_ID          0
AWAY_CLUB_ID          0
HOME_CLUB_GOALS       0
AWAY_CLUB_GOALS       0
HOME_CLUB_POSITION    0
AWAY_CLUB_POSITION    0
STADIUM               0
ATTENDANCE            0
REFEREE               0
dtype: int64

In [41]:
games_df2.shape

(34673, 13)

There are 34673 rows and 13 columns after we remove the null values.

#### 4.2.7 Data cleaning for "player_valuations" table

In [42]:
#Call the execute() method in the Cursor object to load the data in Python by using Snowflake syntax

player_valuations = curs.execute("select * from Football_Data.Data.player_valuations;")

In [43]:
#We use Cursor to retrieve the data and then call the fetch_pandas_all() Cursor methods to put the data into a Pandas DataFrame:

player_valuations_df = player_valuations.fetch_pandas_all()

#After we load the data from Snowflake into Pandas DataFrame, then we can use python syntax to execute the data.

In [44]:
#Check for existing of null values

player_valuations_df.isnull().sum()

PLAYER_ID       0
DATE            0
MARKET_VALUE    0
dtype: int64

There is no null value in the "player_valuations" table

In [45]:
player_valuations_df.shape

(352132, 3)

#### 4.3 Export Cleaned Data

The new CSV file will be exported, after we cleaning the null value in dataset

- The new CSV file of "appearances", "players", "clubs", "competitions" and "games" tables will be exported.
- The new CSV file of "leagues" and "player_valuations" tables also will be exported even it's already cleaned because just to make sure every CSV file were tally to each other.

In [46]:
# #"New_appearances"

# appearances_df2.to_csv('New_appearances.csv')

In [47]:
# #"New_players"

# players_df2.to_csv('New_players.csv')

In [48]:
# #"New_clubs"

# clubs_df2.to_csv('New_clubs.csv')

In [49]:
# #"New_competitions"

# competitions_df2.to_csv('New_competitions.csv')

In [50]:
# #"New_games"

# games_df2.to_csv('New_games.csv')

In [51]:
# #"New_leagues"

# leagues_df.to_csv('New_leagues.csv')

In [52]:
# #"New_player_valuations"

# player_valuations_df.to_csv('New_player_valuations.csv')

#### 4.4 Data Integration (Inner Join)

In [54]:
#First, we join the 'GAME_ID' column between appearances_df2 and games_df2.

Join1 = pd.merge(appearances_df2, games_df2, how='inner', on = ["GAME_ID"])

In [55]:
Join1.shape

(742134, 22)

There is 22 columns after join the 'GAME_ID' column. (appearances_df2 column + games_df2 column - duplicate column : 10+13-1=22)

In [56]:
#Second, we join the 'COMPETITION_ID' column between Join1 and competitions_df2.

Join2 = pd.merge(Join1, competitions_df2, how='inner', on = ["COMPETITION_ID"])

In [57]:
Join2.shape

(742134, 28)

There is 28 columns after join the 'COMPETITION_ID' column. (Join1 column + competitions_df2 column - duplicate column : 22+7-1=28)

In [58]:
#Third, we join the 'PLAYER_ID' column between Join2 and players_df2.

Join3 = pd.merge(Join2, players_df2, how='inner', on = ["PLAYER_ID"])

In [59]:
Join3.shape

(617382, 40)

There is 40 columns after join the 'PLAYER_ID' column. (Join2 column + players_df2 column - duplicate column : 28+13-1=40)

In [60]:
#Forth, we join the 'PLAYER_ID' column between Join3 and player_valuations_df.

Join4 = pd.merge(Join3, player_valuations_df, how='inner', on = ["PLAYER_ID"])

In [61]:
Join4.shape

(14225920, 42)

There is 42 columns after join the 'PLAYER_ID' column. (Join3 column + player_valuations_df column - duplicate column : 40+3-1=42)

In [62]:
Join4.to_csv('Merged_Football_Data.csv')

In [ ]:
#Disconnect the connection between Snowflake & Jupyter

conn.close()